body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid rgb(53, 50, 50);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 10px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.saveBtn {
  border-left: 1px solid whitesmoke;
  background-color: dodgerblue;
  color: white;
}

.saveBtn:hover {
  font-size: 30px;
  cursor: pointer;
}

.past {
    background-color: rgb(172, 169, 169);
    color: white;
  }
  
  .present {
    background-color: #f74040;
    color: black;
  }
  
  .future {
    background-color: rgb(47, 255, 109);
    color: black;
  }